:root {
  --main: #262A56;
  --text: #eee;
  --link: #1A913C;
  --text-dark: #181818;
}

html {
  font-family: 'Roboto', sans-serif;
}

html a {
  color: var(--link);
  text-decoration: none;
}

html body {
  color: var(--text-dark);
  font-weight: 400;
}

html body header {
  background-color: var(--main);
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

html body header .headerWrapper {
  width: 1400px;
}

html body header .headerWrapper section {
  display: flex;
  gap: 50px;
  height: 80px;
  align-items: center;
}

html body header .headerWrapper section .logo h2 {
  color: var(--text);
  font-weight: 700;
}

html body header .headerWrapper section .nav ul {
  display: inline-flex;
  gap: 20px;
  font-weight: 500;
  list-style: none;
  font-size: 18px;
  margin-bottom: 0;
}

html body header .headerWrapper section .nav ul a {
  padding: 10px 15px;
  background-color: var(--link);
  color: #fff;
  border-radius: 0 15px;
  transition: color,background-color 0.1s ease-in;
}

html body header .headerWrapper section .nav ul a:hover {
  background-color: #fff;
  color: var(--link);
}

html body main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

html body main > .mainWrapper {
  width: 1400px;
}

html body main > .mainWrapper #animalInfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
}


html body main > .mainWrapper #animalInfo .left .name h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

html body main > .mainWrapper #animalInfo .capture span.free {
  color: var(--link);
}

html body main > .mainWrapper #animalInfo .capture span.zoo {
  color: red;
}

html body main > .mainWrapper #animalInfo .food span.meat {
  color: red;
}

html body main > .mainWrapper #animalInfo .food span.vaggies {
  color: var(--link);
}

html body main > .mainWrapper #animalInfo .food span.all {
  background: red;
  background: -moz-linear-gradient(256deg, red 0%, #1a9136 89%);
  background: -webkit-linear-gradient(256deg, red 0%, #1a9136 89%);
  background: linear-gradient(256deg, red 0%, #1a9136 89%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#1a9136",GradientType=1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html body main > .mainWrapper #animalInfo > div {
  font-size: 16px;
}

html body main > .mainWrapper #animalInfo > div span {
  font-weight: 600;
}

html body main > .mainWrapper #animalInfo .actions button {
  padding: 10px 15px;
  background-color: var(--link);
  color: #fff;
  border-radius: 0 15px;
  transition: color,background-color 0.1s ease-in;
  font-size: 27px;
  max-height: 64px;
}

html body main > .mainWrapper #animalInfo .actions button:hover {
  background-color: #fff;
  color: var(--link);
}

html body main > .mainWrapper #animalInfo .right {
  width: 80%;
}

html body main > .mainWrapper #animalInfo .right .czat {
  width: 100%;
  height: 282px;
  padding: 10px 40px;
  background-color: #262a56;
  color: #fff;
  border-radius: 0 50px;
  transition: color,background-color 0.1s ease-in;
  display: flex;
  align-items: flex-end;
}

html body main > .mainWrapper #animalInfo .right .czat .text {
  font-size: 20px;
  max-height: 255px;
  overflow-y: scroll;
  width: 100%;
}

html body main > .mainWrapper #animalInfo .right .czat .text::-webkit-scrollbar {
  width: 3px;
}

html body main > .mainWrapper #animalInfo .right .czat .text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html body main > .mainWrapper #animalInfo .right .czat .text::-webkit-scrollbar-thumb {
  background: #888;
}

html body main > .mainWrapper #animalInfo .right .czat .cursor {
  border-left: 0.05em solid var(--text);
  animation: cursor 1s steps(1) infinite;
  color: var(--main);
  scroll-behavior: smooth;
}

html body main > .mainWrapper #animalInfo .right .czat .text p {
  margin-bottom: 5px;
}

html body main > .mainWrapper #animalInfo .right .actions {
  display: flex;
  margin-top: 23px;
  gap: 20px;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
