:root {
  --main: #262A56;
  --text: #eee;
  --link: #1A913C;
  --text-dark: #181818;
}

html {
  font-family: 'Roboto', sans-serif;
}

html a {
  color: var(--link);
  text-decoration: none;
}

html body {
  color: var(--text-dark);
  font-weight: 400;
}

html body header {
  background-color: var(--main);
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

html body header .headerWrapper {
  width: 1400px;
}

html body header .headerWrapper section {
  display: flex;
  gap: 50px;
  height: 80px;
  align-items: center;
}

html body header .headerWrapper section .logo h2 {
  color: var(--text);
  font-weight: 700;
}

html body header .headerWrapper section .nav ul {
  display: inline-flex;
  gap: 20px;
  font-weight: 500;
  list-style: none;
  font-size: 18px;
  margin-bottom: 0;
}

html body header .headerWrapper section .nav ul a {
  padding: 10px 15px;
  background-color: var(--link);
  color: #fff;
  border-radius: 0 15px;
  transition: color,background-color 0.1s ease-in;
}

html body header .headerWrapper section .nav ul a:hover {
  background-color: #fff;
  color: var(--link);
}
