:root{
    --main:#262A56;
    --text:#eee;
    --link:#1A913C;
    --text-dark:#181818
}


html{
    font-family: 'Roboto', sans-serif;
    a{
        color: var(--link);
        text-decoration: none;
    }
  
    
    body{
       color: var(--text-dark);
       font-weight: 400;
        header{
            background-color: var(--main);
            width: 100%;
            display: inline-flex;
            justify-content: center;
            .headerWrapper{
                width: 1400px;

                section{
                    display: flex;
                    gap: 50px;
                    height: 80px;
                    align-items: center;

                    .logo h2{
                        color: var(--text);
                        font-weight: 700;
                    }
                    .nav{
                        ul{
                            display: inline-flex;
                            gap: 20px;
                            font-weight: 500;
                            list-style: none;
                            font-size: 18px;
                            margin-bottom: 0;

                            a{
                                padding: 10px 15px;
                                background-color: var(--link);
                                color: #fff;
                                border-radius: 0 15px;
                                transition: color,background-color 0.1s ease-in;
                            }
                            a:hover{
                                background-color: #fff;
                                color: var(--link);
                            }
                        }
                    }
                }

            }
        }

        main{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 50px;

            >.mainWrapper{
                width: 1400px;


                #animalInfo
                {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    .flags{
                       position: relative;
                       top: -380px;
                        .flag{
                            margin-top: 25px;
                            padding: 10px 15px;
                            background-color: rgba(38, 42, 86, 1);
                            color: #fff;
                            border-radius: 0 25px;
                            transition: color,background-color 0.1s ease-in;
                            width: min-content;
                            white-space: nowrap;
                            p{
                                margin-bottom: 0;
                            }
                            span{
                                opacity: 1;
                            }
                        }
                        .capture{
                            float: right;
                            margin-top: 0;
                        }
                               
                    }
                    .left{

                        .imgWrapper{
                            max-width: 320px;
                            max-height: 280px;
                            min-height: 270px;
                            overflow: hidden;
                            display: flex;
                            align-items: flex-end;
                            img{
                                width: 100%;
                            }
                        }
                        .name h4{
                            text-align: center;
                            font-size: 30px;
                            font-weight: 500;
                        }
                        .name{  
                            margin-top: 25px;
                                padding: 10px 15px;
                                background-color: var(--main);
                                color: #fff;
                                border-radius: 0 40px;
                                transition: color,background-color 0.1s ease-in;
                            h4{
                                text-align: center;
                                font-size: 30px;
                                font-weight: 500;
                            }

                        }
                    }
                    .capture{
                        span.free{
                            color: var(--link);
                        }
                        span.zoo{
                            color: red;
                        }
                    }
                    .food{
                        span.meat{
                            color: red; 
                        }
                        span.vaggies{
                            color: var(--link); 
                        }
                        span.all{
                            background: rgb(255,0,0);
                            background: -moz-linear-gradient(256deg, rgba(255,0,0,1) 0%, rgba(26,145,54,1) 89%);
                            background: -webkit-linear-gradient(256deg, rgba(255,0,0,1) 0%, rgba(26,145,54,1) 89%);
                            background: linear-gradient(256deg, rgba(255,0,0,1) 0%, rgba(26,145,54,1) 89%);
                            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0000",endColorstr="#1a9136",GradientType=1);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                    >div{
                        font-size: 16px;
                        span{
                            font-weight: 600;
                        }
                    }
                    .actions{   
                        button{ 
                            padding: 10px 15px;
                            background-color: var(--link);
                            color: #fff;
                            border-radius: 0 15px;
                            transition: color,background-color 0.1s ease-in;
                            font-size: 27px;
                            max-height: 64px;
                        }
                        button:hover{
                                background-color: #fff;
                                color: var(--link);
                        }
                    }
                 .right{    
                    width: 80%;
                        .czat{
                            width: 100%;
                            height: 282px;
                            padding: 10px 40px;
                            background-color: rgba(38, 42, 86, 1);
                            color: #fff;
                            border-radius: 0 50px;
                            transition: color,background-color 0.1s ease-in;
                            display: flex;
                            align-items: flex-end;
                            .text {
                                font-size: 20px;
                                max-height: 255px;
                                overflow-y: scroll;
                                width: 100%;

                                
                            }
                            .text::-webkit-scrollbar {
                                width: 3px;
                              }
                            .text::-webkit-scrollbar-track {
                                background: #f1f1f1;
                              }
                              .text::-webkit-scrollbar-thumb {
                                background: #888;
                              }
                            .cursor{
                                border-left: .05em solid var(--text);
                                animation: cursor 1s steps(1) infinite;
                                color: var(--main);
                                scroll-behavior: smooth;
                               
                            }
                            .text p{
                                margin-bottom: 5px;
                            }
                        } 
                       
                        .actions{
                            display: flex;
                            margin-top: 23px;
                            gap: 20px;
                        }
                    }
                          
                }
            }
        }
    }
}
@keyframes cursor {
    50% {
      border-color: transparent;
    }
  }